{% extends 'layout/base.html' %} {% block content %}

<section class="container-fluid">
<h1>Add Recipe</h1>
<form action="{{url_for('insert_recipe')}}" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
    
    <!--Recipe Name-->
    <div class="form-group col-md-12">
        <i class="fas fa-utensils"></i>
        <label for="recipe_name">Recipe Name:</label>
        {{ form.recipe_name(id="recipe_name", class="form-control") }}
    </div>
    
    <!--Recipe description-->
    <div class="form-group col-md-12">
        <i class="fas fa-pencil-alt"></i> 
        <label for="description">Description:</label> 
        {{ form.recipe_description(id="recipe_description", class="form-control") }}
    </div>
    
    <!--Prep Time-->
    <div class="form-group col-md-4">
        <i class="fas fa-hourglass-half"></i>
        <label for="prep_time">prep Time:</label> 
        {{ form.prep_time(id="prep_time", class="form-control") }}
    </div>
    
    <!--Cook Time-->
    <div class="form-group col-md-4">
        <i class="fas fa-clock"></i> 
        <label for="cook_time">Cook Time:</label> 
        {{ form.cooking_time(id="cooking_time", class="form-control") }}
    </div>

    <!--Category-->
    <div class="form-group col-md-4">
        <i class="fas fa-utensils"></i>
        <label for="category">Meal Type:</label> 
        {{ form.category(id="category", class="form-control", placeholder="e.g Breakfast") }}
    </div>
    
    <!-- Ingredients-->
    <div class="form-group col-md-12">
        <i class="fas fa-utensils"></i>
        <label for="ingredients">Ingredients:</label>
        {{ form.ingredients(id="ingredients", class="form-control") }}
    </div>
    
    <!-- Steps-->        
    <div class="form-group col-md-12">
        <i class="fas fa-list-ol"></i> 
        <label for="steps">Steps:</label>
        {{ form.steps(id="steps", class="form-control") }}
    </div>
    
    <!-- Image Recipe-->
    <div class="form-group col-md-12">
        <i class="fas fa-image"></i> 
        <label for="image">Recipe Image:</label> 
        {{ form.image(id="image", class="form-control", placeholder="Provide URL for recipe image") }}
    </div>
    
    <!-- Submit-->
    <div class="form-group col-md-12">
        {{ form.submit(id="submit", class="form-control btn btn-primary") }}
    </div>
    </div>
</form>
</section>
{% endblock %}
