{% extends 'layout/base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flash">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
{% endwith %}
<section class="container-fluid hero-image">    
    <div class="row">
     <div class="col index">
        <h1 id="title">My Cookbook!</h1>            
            <h2>Store all your favourite recipes in one place! </h2> 
            <h3>Add, View, Edit and Delete your recipes.</h3> 
            <q class="quote">A recipe has no soul. You, as the cook, must bring soul to the recipe</q>    
            <p class="homeBtn">
                {% if session.username %} 
                <a class="btn btn-primary btn-lg" href="{{ url_for('add_recipe') }}" role="button">Add Recipe</a>
                {% else %}
                <a class="btn btn-success btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
                <a class="btn btn-success btn-lg" href="{{ url_for('login') }}" role="button">Signin</a>      
                {% endif %}
            </p>
    </div>
    </div>
  
   
</section>

{% endblock %}

