{% extends 'layout/base.html' %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flash">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="jumbotron">
  <h1 class="display-3">My Cookbook!</h1>
  <p class="lead">Tired of having to look up recipes on the internet or in a Cookbook? <br>
  Sign up now to create your own personalise online Cookbook!</p>
  <hr class="my-4">
  <p>My Cookbook allows you to add your own recipes and store them into different categories. Great way to easily view all your favourite 
  recipes in one place!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Signin</a>
  </p>
</div>


{% endblock %}

