{% extends 'layout/base.html' %}
{% block content %}

<section class="contianer-fluid" id="singleRecipe">
    <div class="row">
        <div class="col-md-12">
            <h1 >{{ selected_recipe.recipe_name }}</h1>
        </div>                   
            <div class="col">
          <div class="card border-danger "> 
               <div class="card-body">
                <h2 class="card-description">{{ selected_recipe.description }}</h2>               
            </div>
                <img style="img-fluid" src="{{ selected_recipe.image }}" alt="Card image">
            
            <ul class="list-group list-group-flush">                
                <li class="list-group-item"><strong> Prep Time: </strong> {{ selected_recipe.prep_time }} mins</li>                
                <li class="list-group-item"><strong> Cook Time: </strong> {{ selected_recipe.cooking_time }} mins</li> 
                <li class="list-group-item"><strong> Meal Type: </strong> {{ selected_recipe.category }}</li>
                <li class="list-group-item"><strong> Ingredients: </strong> {{ selected_recipe.ingredients }}</li>
                <li class="list-group-item"><strong> Steps: </strong> {{ selected_recipe.steps }}</li>
            </ul>          
            </div>
        </div>
    </div>
</section>


{% endblock %} 