{% extends 'layout/base.html' %}
{% block content %}

<section class="contianer" id="singleRecipe">
    <div class="row">
        <div class="col-md-12">
            <h1 >{{ selected_recipe.recipe_name }}</h1>
        </div>                   
            <div class="col-md-6">
          <div class="card "> 
               <div class="card-body">
                <h2 class="card-description">{{ selected_recipe.description }}</h2>               
            </div>
                <img style="img-fluid" src="{{ selected_recipe.image }}" alt="Card image">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong> Prep Time: </strong> {{ selected_recipe.prep_time }} mins</li>
                <li class="list-group-item"><strong> Cook Time: </strong> {{ selected_recipe.cooking_time }} minu</li>
                <li class="list-group-item"><strong> Meal Type: </strong> {{ selected_recipe.category }}</li>
            </ul>          
            </div>
        </div>
          
            
    <div class="col-md-6">
       <div class="card">     
          <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fas fa-utensils"></i>
                <strong> Ingredients:  </strong>  <br> {{ selected_recipe.ingredients }}</li>

                <li class="list-group-item"><i class="fas fa-clipboard-list"></i>
                <strong> Steps: </strong> <br>{{ selected_recipe.steps }} minu</li>
                
            </ul>          
            </div>
        </div>
    </div>
</section>


{% endblock %} 