{% extends 'layout/base.html' %}
{% block content %}

    <section class="contianer-fluid">
    <h1>{{ selected_recipe.recipe_name }}</h1>
    <p>{{ selected_recipe.description }}</p>
    <div class="row">
    <div class="col-md-12">
        <img style="height: 200px"
            class="responsive-img z-depth-2"
            src="{{ selected_recipe.image }}"
            alt="Recipe Image"
        />
    </div>
     <!--Prep time-->
    <div class="col-md-6">    
        <h6>Prep Time:  {{ selected_recipe.prep_time }} minus</h6>
    </div>

    <!--Cook time-->
    <div class="col-md-6">
        <h6>Cooking time: {{ selected_recipe.cooking_time }} mins </h6>
    </div>
    
    <!--Ingredients-->
    <div class="col-md-6">
        <h6>Ingredients: </h6>
            {{ selected_recipe.ingredients }}
    </div>

    <!--Steps-->
    <div class="col-md-6">
        <h6>Steps: </h6>
            {{ selected_recipe.steps }}
    </div>

</section>
{% endblock %} 

