@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Lora', serif;
    padding: 2rem;
    text-align: center;	  
}

.img-fluid {
    width: 100%;
    height: auto;
    
}

/* Nav */
.navbar {
	font-size: 2rem;
	letter-spacing: 1px;
    padding-right: 2rem;
}

.navbar-brand {
	font-size: 2.3rem;
    font-weight: 500;
    margin-left: 2rem;
}

.nav-link {
	color: white!important;
}

.nav-link:hover {
	color: yellow!important;
}




/* Login */
#login, #register {
    max-width: 30rem;
    min-width: 250px;
    margin: auto;
    margin-top: 4rem;
}

form {
    margin-top: 3rem;
    margin-bottom: 3rem;
 }


label {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 300;
    text-align: left;	  
}

.loginBtn, .registerBtn {
	font-size: 1.5rem;
	margin-top: 3rem;
    border-radius: 4rem;
}


.page-footer {
    text-align: center;
    margin-bottom: 1rem;
}

.media-icons {
    font-size: 1.5rem;
    padding: 0.3rem;
}

