@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
     background-color: #f8f9fa;
}

h1 {
    font-family: 'Lora', serif;
    padding: 2rem;
    text-align: center;	  
    text-shadow: 0 0 2px #fd7e14;
}

h2, h3 {
   font-family: 'Lora', serif;    
   margin-bottom: 3rem;
}

.img-fluid {
    width: 100%;
    height: 22vh;
    }

/* Navbar */
.navbar {
    font-family: 'Lora', serif;
	font-size: 2rem;
	letter-spacing: 1px;
    padding-right: 2rem;
}

.navbar-brand {
	font-size: 2.3rem;
    font-weight: 500;
    margin-left: 1rem;
    font-family: 'Lora', serif;
    color: #EB6864!important;
}

.nav-link {
	color: #EB6864!important;
}

.nav-link:hover {
	color: #aaaaaa!important;
}

/* Home page */
.hero-image {
    background-image:  url(../images/cook2.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    text-align:center;
    
}

#title {
    font-size: 5rem;
}

.index {
    margin-top: 10rem;
    margin-bottom: 8rem
}

.quote {
    font-size: 1.2rem;
}

.btn {
    margin-top: 3rem;
}

/* Login & Register page */

#login, #register {
    background-image:radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../images/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    text-align:center;
    height: 80vh;
}

.form-signin, .form-register {
    max-width: 30rem;
    min-width: 250px;
    margin: auto;
    margin-top: 4rem;
}

form {
    margin-top: 3rem;
    margin-bottom: 3rem;
 }

.loginBtn, .registerBtn {
	font-size: 1.5rem;
	margin-top: 3rem;
    border-radius: 4rem;
}
.register-loginLink {
    margin-top: 3rem;
    margin-bottom: 3rem; 
}

/* Add/Edit Recipe Page */
.add-edit-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    padding:2rem;
    border-radius: 2rem;
    background-image:radial-gradient(rgba(249, 238, 238, 0.91), rgba(152, 142, 142, 0.04)), url(../images/food.jpg);
    background-repeat: no-repeat;
    background-size:  cover;  
}

.form-control{
	border: 2px solid #EB6864;
}

label {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 300;
    text-align: left;	  
}

.fas {
	font-size: 1.5rem;
}

/* Recipe Page */
#singleRecipe {
	max-width: 40rem;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;	   
}


/* Footer */
.page-footer {
    text-align: center;       
}

.media-icons {
    font-size: 3rem;
    padding: 0.3rem;
    margin-top: 1rem;
   
}

/* Media Query for phones*/
@media only screen and (max-width: 480px) {
    .index {
        margin-top: 0;
        margin-bottom: 0;  
        margin-left: 2rem; 
}
	#title {
		font-size: 2.6rem;
	}

    h2 {
        font-size: 1.8rem;            
     }

    .quote {
		font-size: 1rem;
		background: rgba(33, 33, 33, 0.7);
		color: #fff;
	}

    #register {   
        height: 100vh;
}

    #login{   
        height: 75vh;
}

    .form-register, .form-signin {	    
        margin-top:0;
    }

    form {
        margin-top: 0rem;
        margin-bottom: 0;
    }

    .loginBtn, .registerBtn {
        font-size: 1rem;
        margin-top: 1rem;
    
    }
    .register-loginLink {
        margin-top: 0;
        
    }
	


}


/* IPAD 

@media only screen and (max-width: 1024px) {
    		
    #title {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .index {
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .quote {
        font-size: 1.5rem;
        margin-left: 3.4rem;
    }

    
    #login, #register {
        height: 100vh;
    }
    
    .form-signin, .form-register {  
        margin-top: 3em;           
    }

    h1 {
            margin-top: 5rem;
            font-size: 4rem
    }
    
    label  {
        font-size: 2.2rem;
        
    }

    .fas {
        font-size: 2rem;
    }
    
    .registerBtn {	
        margin-bottom: 3rem;   
    }

    .loginBtn {
        margin-bottom: 3rem;
}
          	
}	

/* IPad pro 
@media only screen and (max-width: 1366px) {

    .hero-image, #login, #register {
        height: 85vh;
    }
    
    .index {
        margin-top: 5rem;
        margin-left: 3rem;      
    }
    
    h2 {
        font-size: 2.3rem;
         margin-top: 3rem;
    }
    
     h3 {
        font-size: 2.2rem;
         margin-top: 3rem;
    }
    
    .quote {
        font-size: 2rem;     
    }
	
    .btn {
    	font-size: 2.5rem;
    	display: block;
    	width: 50%;
        margin-top: 3rem;
    	margin-left: 15rem; 
    	margin-bottom: 2rem;
    	background-color: #EB6864;
        border-radius: 4rem;
    }

    label  {
    	font-size: 3rem;    			
    }

    input[type=username],[type=password]  {
        font-size: 2rem;
        padding: 1.5rem
    }
            
    .fas {
        font-size: 2.5rem;
    }

    .loginBtn, .registerBtn {
		font-size: 2rem;
        margin-left: 8rem;
	}

	p {
	  font-size: 2rem;
	}    

}