h1{
    padding: 2rem;
    text-align: center;	  
}

.img-fluid {
max-width: 100%;
    height: auto;
    
}

/* Login */

#login, #register {
    max-width: 30rem;
    min-width: 250px;
    margin: auto;
    margin-top: 4rem;
}

form {
    margin-top: 3rem;
    margin-bottom: 3rem;
 }


label {
	padding: 1rem;
	font-size: 1.5rem;
	font-weight: 300;
    text-align: left;	  
}

.loginBtn, .registerBtn {
	font-size: 1.5rem;
	margin-top: 3rem;
    border-radius: 4rem;
}